<meta name="viewport" content="width=device-width, initial-scale=1.0">
*{
	box-sizing: border-box;
}
body{
	background-color: white;
}
h1{
	font-family: impact;
	font-size: 80px;
	text-align: center;
}
h2{
	font-family: impact;
	text-align: center;
}
ul li{
	list-style-type: none;
	padding: 10px;

}
p{
	font: bolder; font-weight: bolder;
}
img{
	width: 100%;
	height: auto;
}